.blogs-wrapper{
  /* padding: 80px; */
}

.blog-posts-list .blog-list-item {
  margin: 50px;
}

.blog-posts-list .blog-list-item .blog-title{
  font-size: large;
  color: #20c997;
  cursor: pointer;
}

.blog-item-meta{
  font-size: small;
  color: #6b6b6b;
}

.blog-item-meta span{
  margin-right: 5px;
}

.blog-item-meta i{
  margin-right: 3px;
}

.blog-content-wrapper {
  padding: 80px 25rem;
  height: 100vh;
  overflow: scroll;
  width: 100%;
}

.blog-content-wrapper h1{
  width: 100%;
  color: #20c997;
}

.blog-content-wrapper img{
  margin: 2.5rem;
  width: 90%;
}

.blog-content-wrapper p{
  line-height: 32px;
  letter-spacing: -0.003em;
  font-size: 21px;
}

.blog-content-wrapper li{
  line-height: 32px;
  letter-spacing: -0.003em;
  font-size: 21px;
}

.blog-content-wrapper h3 {
  font-size: 30px;
  line-height: 36px;
  margin-top: 40px;
}

.blog-content-wrapper h5 {
  font-weight: 700;
  line-height: 32px;
  font-size: 21px;
}

.blog-content-wrapper .italic {
  font-style: italic;
  border-left: 3px solid #525252;
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .blog-content-wrapper {
    padding: 40px;
  }
}

.blog-content-wrapper .LI-badge-container{
  width: 100% !important;
  margin-top: 10%;
}