.home-wrapper{
  height: 100vh;
  background-color: #545454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrapper .welcome-text{
  font-weight: 500;
  font-size: 2.75rem;
  color: #fff;
  margin-bottom: 1rem;
}

.home-wrapper .running-text{
  font-weight: 600;
  font-size: 5rem;
  color: #20c997;
}

.home-wrapper .place-text{
  color: #dee3e4;
  font-weight: 500;
  font-size: 2rem;
}

.home-wrapper .scroll-down-arrow{
  position: absolute;
  bottom: 40px;
  line-height: 32px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.left-more-icon {
  display: none;
}


@media screen and (max-width: 992px) {
  .home-wrapper .running-text {
    font-size: 2.5rem;
  }

  section {
    padding: 40px 0;
  }

  .left-more-icon {
    position: absolute;
    color: #20c997;
    left: 2rem;
    top: 2rem;
    font-size: large;
    display: block;
  }
}